<div class="section" id="education">
  <div class="container cc-education">
    <div class="h4 text-center mb-4 title">Education</div>
    <div class="card">
      <div class="row">
        <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body cc-education-header">
            <p>Aug 2016 - Dec 2017</p>
            <h5>Master's Degree</h5>
            <p>GPA: 3.77/4.0</p>
          </div>
        </div>
        <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body">
            <div class="h5">Masters in Computer Science</div>
            <h4 class="category">North Carolina State University, NC (USA)</h4>
            <span><b>Coursework: </b></span>
            <ul>
              <li>Design and Analysis of Algorithms (CSC-505)</li>
              <li>Software Engineering (CSC-510)</li>
              <li>Object Oriented Design and Development (CSC-517)</li>
              <li>DevOps (CSC 519)</li>
              <li>Database Management System (CSC 540)</li>
              <li>Computer Networks (CSC 570)</li>
              <li>Software Security (CSC 515)</li>
              <li>Artificial Intelligence(CSC 520)</li>
              <li>Computer Graphics (CSC 561)</li>
              <li>Independent Study(CSC 630)</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="row">
        <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body cc-education-header">
            <p>Aug 2012 - Jun 2016</p>
            <h5>Bachelor's Degree</h5>
            <p>GPA: 8.3/10</p>
          </div>
        </div>
        <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body">
            <div class="h5">Bachelor of Technology</div>
            <h4 class="category">Jamia Millia University, New Delhi (India)
            </h4>
            <ul>
              <li>Bachelors of Technology in Electronics and Communications</li>
              <li>President of IEEE JMI Chapter, New Delhi India</li>
              <li>Was awarded IEEE Best Student Award 2016</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
